/* ============================================= */
/*              Forms                            */
/* ============================================= */

.form {
  flex-basis: 100%;
}

.input{
  display: block;
  width: 94%;
  margin: $standard-mp auto 0;
  border: none;
  padding: $standard-mp;
  border-bottom: 5px solid $mint;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}